# author: meisto
# date: 2024-12-09 21:48:46

dwindle {
    # https://wiki.hyprland.org/Configuring/Dwindle-Layout/
    pseudotile = yes # master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = yes # you probably want this
}

master {
    # https://wiki.hyprland.org/Configuring/Master-Layout/
    new_on_top = true
    orientation = left
}

# Workspace-specific options:
workspace = 6, layoutopt:orientation:right
